* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1300px;
  margin: 0 auto;
  color: #333333;
  font-family: 'Inter', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: .3px solid;
  border-color: rgb(210, 210, 210);
  margin-bottom: 50px;
}

.header__titleContainer {
  position: relative;
}

.header__title {
  letter-spacing: -0.08em;
}

.header__description {
  position: absolute;
  bottom: 5px;
  right: -50px;
  font-size: 10px;
}

.header__nav {
  display: flex;
  list-style: none;
}

.header__link {
  margin-left: 21px;
  text-decoration: none;
  font-weight: bold;
  color: #333333;
}

.header__link:hover{
  text-decoration: underline;
}

.projects__title {
  text-align: center;
}

.projects__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  width: 400px;
  margin-bottom: 50px;
  border: solid 1px;
  border-color: rgb(210, 210, 210);
  background-color: rgb(237, 237, 237);
}

.card__imageContainer {
  position: relative;
  width: 100%;
  height: 186px;
  border: solid 1px;
  border-color: rgb(210, 210, 210);
}

.card__skillContainer {
  display: flex;
  margin-bottom: 10px;
}

.card__buttonContainer {
  display: flex;
  justify-content: space-between;
}

.card__title{
  margin-bottom: 5px;
}

.card__description {
  margin-bottom: 10px;
  min-height: 80px;
}

.card__image {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.card__skill {
  border: 1px solid;
  font-size: 10px;
  padding: 3px 10px;
  margin-right: 15px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4bb6e4;
  color: white;
  font-weight: bold;
  text-decoration: none;
  width: 48%;
  height: 36px;
}