<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header class="header">
      <div class="header__titleContainer">
        <a href="index.html"><h1 class="header__title">Stephen Allard</h1></a>
        <p class="header__description">fullstack developer</p>
      </div>
      <ul class="header__nav">
        <li><a href="./index.html">Projects</a></li>
        <li><a href="./about.html">About</a></li>
        <li><a href="./contact.html">Contact</a></li>
      </ul>
    </header>
    {{ content }}
  </body>
</html>